* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.1rem;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

p {
  font-size: 1.4rem;
}

.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}

.header {
  background-color: #cc79a7;
  color: #bec69e;
  cursor: pointer;
  text-align: center;
  padding: 3em 0;
  padding-bottom: 2em;
  position: relative;
}

.header__sub-title {
  font: 400;
  margin-bottom: 2em;
}

.header__number {
  width: 5em;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #fff;
  color: #131516;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.8em;
  position: relative;
  z-index: 9;
  margin: 0 auto;
}

.header .btn {
  cursor: pointer;
}

.btn {
  background-image: linear-gradient(
    to right top,
    #431f8d,
    #531f8d,
    #611e8d,
    #6e1f8d,
    #7a1f8d
  );
  border-radius: 5px;
  color: #bec69e;
  padding: 0.6em 2.2em;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 9;
}

.again {
  position: absolute;
  top: 1.5em;
  right: 3em;
  cursor: pointer;
}

.check {
  margin-left: 0.7em;
}
.again,
.check:hover {
  background-color: #009e73;
  background-image: none;
  border: 1px solid transparent;
  color: #131516;
}

.again:hover {
  background: transparent;
  background-image: none;
  border: 1px solid #bec69e;
  color: #bec69e;
}

.fa-exclamation-circle {
  color: #a51808;
}

.fa-check-circle {
  color: #009e73;
}

.fa-trophy {
  color: #eaa543;
}

.fa-arrow-circle-up {
  color: #ffa500;
}

.fa-arrow-circle-down {
  color: #0096ff;
}

.fa-frown {
  color: #a51808;
}

.custom-shape-divider-bottom-1643302465 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643302465 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 146px;
}

.custom-shape-divider-bottom-1643302465 .shape-fill {
  fill: #e8e2d9;
}

/* Section: Score board */
.flex {
  position: absolute;
  right: 9.3em;
  top: 3em;
}
.score__board {
  background-color: #e8e2d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 2em;
  position: relative;
}

.score__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score__number input {
  border: 1px solid #008917;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

.score__info-message {
  font-size: 1.8rem;
  margin-bottom: 2em;
}

.score__info-score {
  margin-bottom: 1em;
}

.your__score {
  position: absolute;
  right: 10.2em;
  top: 8em;
}

.hide {
  display: none;
}

/* Confetti */
#my-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  z-index: 8;
}

#my-canvas.active {
  visibility: visible;
}

footer {
  background-color: #cc79a7;
  padding: 1.5em 1em;
}

/* Media Queries */
@media (max-width: 675px) {
  .again {
    font-size: 0.8rem;
    left: 1.8em;
  }

  .check {
    margin-bottom: 2em;
    font-size: 0.8rem;
  }

  .header__number {
    font-size: 1.5rem;
    width: 4em;
  }

  h1 {
    font-size: 2rem;
    margin-top: 1em;
  }

  p {
    font-size: 1.3rem;
  }

  .score__board {
    display: flex;
    flex-direction: column;
    position: static;
  }

  .flex {
    order: 1;
    position: static;
  }

  .score__number {
    order: 2;
  }

  .your__score {
    order: 3;
    position: static;
  }

  .score__number input {
    font-size: 1.1rem;
    position: relative;
    z-index: 10;
  }
}
